<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1e38ed7dee.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  .fa-anchor,.fa-coffee {font-size:200px}
  </style>
</head>

<body>

  <nav class="navbar navbar-light" style="background-color: #00884A;">
		<a class="navbar-brand" href="#" style="color:goldenrod; margin-left: 20px">CPP Map Finder</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" style="color:white; margin-left: 20px" href="{{ url_for('index') }}">Home</a>
				<a class="nav-item nav-link" style="color:white; margin-left: 20px" href="{{ url_for('map') }}">Map</a>
				<a class="nav-item nav-link" style="color:white; margin-left: 20px" href="{{ url_for('about') }}">About</a>
			</div>
		</div>
	</nav>	

  <div
	class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
	style="background-image: url('static/calpoly.jpg');"
	>
		<h1 class="mb-3 h2">Ghost Bullets</h1>

		<h5>California State Polytechnic University, Pomona</h5>
		<h5>Spring 2023</h5>
    <h5>CS 4800 Project</h5>
		<a class="btn btn-success" style="border-radius: 30px;" href="https://github.com/CS-4800-Team-Project-Spring-2023/cs4800-project">GitHub</a>
	</div>

  <div class="card-group">
		<div class="card text-center">
		  <br>
		  <i class="fa-solid fa-2xl" style="color: #00884a;"></i>
		  <br>
		  <div class="card-body">
			<h5 class="card-title"><b>Christopher Hoang</b></h5>
			  <p class="card-text">E-mail: </p>
        <p class="card-text">GitHub: Choang707</p>
		  </div>
		</div>
		<div class="card text-center">
		  <br>
		  <i class="fa-solid fa-2xl" style="color: #00884a;"></i>
		  <br>
		  <div class="card-body">
			<h5 class="card-title"><b>Nick Hortua</b></h5>
			<p class="card-text">E-mail: </p>
      <p class="card-text">GitHub: CabooseShep </p>
		  </div>
		</div>
		<div class="card text-center">
		  <br>
		  <i class="fa-solid fa-2xl" style="color: #00884a;"></i>
		  <br>
		  <div class="card-body">
			<h5 class="card-title" ><b>Ricardo Garcia</b></h5>
      <br>
			<p class="card-text">E-mail: rgarcia4@cpp.edu</p>
      <p class="card-text">GitHub: ric-gar</p>
		  </div>
		</div>
	  </div>


</body>
</html>